<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>大图轮播</title>
<link href="__VIEW__/Category/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__VIEW__/Category/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.min.css">
<script language="javascript">
$(function(){	
	//导航切换
	$(".imglist li").click(function(){
		$(".imglist li.selected").removeClass("selected")
		$(this).addClass("selected");
	})	
})	
</script>
<script type="text/javascript">

    function dell(num){

        $(".click").click(function(){
          $(".tip").fadeIn(200);
          });
          
          $(".tiptop a").click(function(){
          $(".tip").fadeOut(200);
        });

          $(".sure").click(function(){
            location.href="{|U:'del'}/car_id/"+num;
          $(".tip").fadeOut(100);
        });

          $(".cancel").click(function(){
          $(".tip").fadeOut(100);
        });
    }


</script>
</head>


<body>
    <div class="tip">
        <div class="tiptop"><span>提示信息</span><a></a></div>
        
      <div class="tipinfo">
        <span><img src="__VIEW__/Category/images/ticon.png" /></span>
        <div class="tipright">
        <p>是否确认对信息的修改 ？</p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
        </div>
        
        <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
        </div>
    
    </div>

    
    <div class="rightinfo">
    
 
    
    
    <table class="imgtable">
    
    <thead>
    <tr>
    <th>轮播id</th>
    <foreach from="$spec" key="$k" value="$v">
        <th>{$v.stitle}</th>
    </foreach>
    <th>轮播图片</th>
    <th>轮播地址</th>
    <th>操作</th>
    </tr>
    </thead>
    
    <tbody>
    <foreach from="$bigData" key="$k" value="$v">
                <tr>
                    <td>{$v.car_id}</td>
                    
                    <td><img src="__ROOT__/{$v.img}" alt="" style="width:100px;height:67px;"></td>
                    <td>{$v.url}</td>
                    <td style="text-indent:0px;width:150px;">
                        <a href="{|U:'bigEdit',array('car_id'=>$v['car_id'])}" class="btn btn-info">修改</a>
                        <a href="javascript:dell({$v.car_id});" class="btn btn-danger click">删除</a>
                    </td>
                </tr>
    
    </foreach>
    
    
  
    
    </tbody>
    
    </table>
       <a href="{|U:('bigImg')}" class="btn btn-primary" style="margin-top:30px;height:25px;width:80px;text-align: center;" onmouseover="this.style.color='#fff'">添加图片</a>
    
    <div class="tip">
    	<div class="tiptop"><span>提示信息</span><a></a></div>
        
      <div class="tipinfo">
        <span><img src="__VIEW__/Category/images/ticon.png" /></span>
        <div class="tipright">
        <p>是否确认要删除此商品 ？</p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
        </div>
        
        <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
        </div>
    
    </div>
    
    
    
    
    </div>
    
   
    
<script type="text/javascript">
	$('.imgtable tbody tr:odd').addClass('odd');
	</script>
    
</body>

</html>
