@media only screen and (max-width:1000px){
	#content .con-cen .right{
		display: none !important;
	}
	#content .con-cen{
		max-width: 95% !important;
	}
	#content .con-cen .left{
		width: 100% !important;
	}
	#content .con-cen .left .pro .data{
		display: none;
	}
	#header .nav-cen .img{
		width:100% !important;
		background-position: center center !important;
	}
}