<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>后盾问答</title>
	<meta name="keywords" content="后盾问答"/>
	<meta name="description" content="后盾问答"/>
	<link rel="stylesheet" href="{hd $smarty.const.__PUBLIC__}/Css/common.css" />
	<script type="text/javascript" src='{hd $smarty.const.__PUBLIC__}/Js/jquery-1.7.2.min.js'></script>
	<script type='text/javascript'>
       var APP= '{hd $smarty.const.__APP__}'; 
     </script>
	<script type="text/javascript" src='{hd $smarty.const.__PUBLIC__}/Js/serch.js'></script>
	<link rel="stylesheet" href="{hd $smarty.const.__PUBLIC__}/Css/index.css" />
</head>
<body>
	<!-- 搜索顶部 -->
	<div class="search_top">
		<div class="sealeft">
			<a href=""><img src="{hd $smarty.const.__PUBLIC__}/images/t0150f9b7bd1b41d84e.png" alt="" /></a>
			<a href="http://www.houdunwang.com">后盾顶尖PHP培训</a>
			<a href="http://www.houdunwang.com">后盾网</a>
		</div>

	</div>
	<!-- 搜索顶部结束 -->
	<!-- 搜索框 -->
	<div class="search_box">
		<input type="text" name="result" class="searchInput"/>
		<input type="submit" value="搜索答案" class="sub"/>
		<a href="{hd $smarty.const.__APP__}?c=ask">我要提问</a>
	</div>
	<!-- 搜索框结束 -->
	<!-- 搜索内容 -->
	<div class="searcont">
	{hd if $result}
	{hd foreach from=$result item=v}
		<ul>
			<li> <a href="{hd $smarty.const.__APP__}?c=answer&asid={hd $v.asid}" class="title">{hd $v.content}</a> </li>
			<li>{hd $v.da}.....</li>
			<li class="time"><span>{hd $v.title} - {hd $v.answer}个回答</span> - 提问时间: {hd $v.time|date_format:"%y-%m-%d %H:%M:%S"}</li>
		</ul>
	{hd /foreach}
	{hd else}
	没有您要找的内容
	{hd /if}
	</div>
	<!-- 搜索内容结束 -->

<!-- 底部 -->
	<div id='bottom'>
		<p>Copyright © 2013 Qihoo.Com All Rights Reserved 后盾网</p>
		<p>京公安网备xxxxxxxxxxxx</p>
	</div>
<!--[if IE 6]>
    <script type="text/javascript" src="{hd $smarty.const.__PUBLIC__}/Js/iepng.js"></script>
    <script type="text/javascript">
    	DD_belatedPNG.fix('.logo','background');
        DD_belatedPNG.fix('.nav-sel a','background');
        DD_belatedPNG.fix('.ask-cate i','background');
    </script>
<![endif]-->
</body>
</html>
<!-- 底部结束 -->