<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" href="__TEMPLATE__/css/style.css" />
<include file="__TEMPLATE__/header" />
	<!-- 主体区域 -->
	<div id="main">
		<!-- 左侧区域 -->
		<div class="left">
				<div class='hd_title'>
					<strong>置顶推荐</strong>	
				</div>	
				<ul class='zhiding'>
				<arclist>
					<li>
							<div class='image'>
								<a href="{$field.url}">
									<img src="{$field.img}" alt="缩略图占位"/>
								</a>
							</div>
							<h2><a href="{$field.url}">{$field.title}</a></h2>
							<p>{$field.digest}</p>
					</li>
				</arclist>
				</ul>	
				<div class='hd_title'>
					<strong>最近文章</strong>	
				</div>	

			<ul class="arc_list">
			<listcont order="sendtime DESC">
				<li>
					<div class="pic"><a href="{$field.url}"><img width="150" height="100" src="{$field.thumb}" alt="缩略图" /></a></div>
					<h3><a href="{$field.url}">{$field.title}</a></h3>
					<span class="date">{$field.sendtime|date:'m-d',@@}</span>
					<a href="{$field.url}" class="comment">{$field.total}条评论</a>
					<span class="browse_number">{$field.click}次浏览</span>
					<p class="description">{$field.digest}</p>
				</li>
			</listcont>
			</ul>
		</div>
		<!-- 左侧区域结束 -->
		<include file="__TEMPLATE__/right" />
	</div>
	<!-- 主体区域结束 -->
	<include file="__TEMPLATE__/flooter" />
	
</body>
</html>

