<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="__CONTROLLER_VIEW__/css/private.css">

</head>









<body>
    <div id="header">
        <div class="cen">
            <div class="nav">
                <span></span>
                <h1>我的华为帐号</h1>
                <p><a href="" class="bor">{$hd.session.username}</a><a href="{|U:'Index/Index/close'}">退出</a></p>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="cen">
            <div class="user">
            <form action="{|U:'edit'}" method="post" enctype='multipart/form-data'>
                
                
            
                <div class="left">
                    <img <if value="$notUid['thumb']"> src="__ROOT__{$notUid.thumb}" <else/> src="__CONTROLLER_VIEW__/images/headPic.jpg.png" </if>>
                    <span>上传头像</span>
                    <input type="file" name="thumb" <if value="$notUid['thumb']"> value="{$notUid.thumb}"</if> >
                    
                </div>
                <div class="right">
                <div class="content">
                    <p><span>华为帐号：</span></p>
                    <p><span>昵称：</span><input type="text" name="nickname" <if value="$notUid"> value="{$notUid.nickname}"</if>><a href=""><i></i></a></p>
                    <p><span>安全邮箱：</span><input type="email" name="emli" <if value="$notUid"> value="{$notUid.emli}"</if>><a href=""><i></i></a></p>
                    <p><span>安全手机：</span><input type="text" name="iphoto" <if value="$notUid"> value="{$notUid.iphoto}"</if>><a href=""><i></i></a></p>
                    <p><span>密码：</span><a href="{|U:'editPass'}">更改<i></i></a></p>
                    <p>
                        <span>性别：</span>
                        <span style="width:50px">保密</span><input type="radio" name="max" value="3"  <if value="$notUid['max']=='保密'"> checked</if>>
                        <span style="width:20px">男</span><input type="radio" name="max" value="0" <if value="$notUid['max']=='男'"> checked</if>>
                        <span style="width:20px">女</span><input type="radio" name="max" value="1" <if value="$notUid['max']=='女'"> checked</if>>
                    </p>
                    <p><span>生日：</span><input type="text" name="birthday" <if value="$notUid"> value="{$notUid.birthday}"</if>></p>
                    <p><span>城市地区：</span><input type="text" name="city" <if value="$notUid"> value="{$notUid.city}"</if>></p>
                    <input type="hidden" name="user_uid" value="{$hd.session.uid}">
                    <p class="last"><span><input type="submit" name="" value="保存" style="border:none;background: none;text-align: center;width:120px;height:30px;line-height: 30px;color:#fff;padding:0;margin:0;font-size: 14px;font-family: '微软雅黑'"></span><span>取消</span></p>
                </div>
                    
                </div>
                </form>
            </div>

        </div>
    </div>
</body>
</html>