<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	<link rel="stylesheet" href="{hd $smarty.const.__PUBLIC__}/Css/public.css" />
	<script type="text/javascript" src="{hd $smarty.const.__PUBLIC__}/Js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="{hd $smarty.const.__PUBLIC__}/Js/public.js"></script>
</head>

<body>
{hd if $son==1}
<form action="" method="post">
	<table >
		<tr>
			<td>子分类名称:</td>
			<td><input type="text" name="cate"></td>
			<td><input type="submit" value="提交"></td>
		</tr>
	</table>
</form>
{hd else}
	{hd if $smarty.get.cid}
		
	<table class="table">
		<tr>
			<td class="th" colspan="20">分类列表</td>
		</tr>
		<tr class="tableTop">
			<td class="tdLittle0 center">展开</td>
			<td class="tdLittle1">ID</td>
			<td>分类名称</td>
			<td class="tdLtitle7">操作</td>
		</tr>
		{hd foreach from=$son item=n}
			
				
			
		<tr>
			<td><a href="{hd $smarty.const.__APP__}?c=list&a=category&cid={hd $n.cid}" class="showPlus"></a></td>
			<td>{hd $n.cid}</td>
			<td>{hd $n.title}</td>
			<td>
				[<a href="{hd $smarty.const.__APP__}?c=list&a=category&cid={hd $n.cid}">添加子分类</a>][
				<a href="{hd $smarty.const.__APP__}?c=list&a=add_top_cate&cid={hd $n.cid}">修改</a>][
				<a href="" class="del">删除</a>]
			</td>
		</tr>
			
		{hd /foreach}

	</table>
		<form action="" method="post">
			分类名称:<input type="text" name="cate" value="">
			<input type="submit" name="" value="提交">
		</form>
	{hd else}	
	<table class="table">
		<tr>
			<td class="th" colspan="20">分类列表</td>
		</tr>
		<tr class="tableTop">
			<td class="tdLittle0 center">展开</td>
			<td class="tdLittle1">ID</td>
			<td>分类名称</td>
			<td class="tdLtitle7">操作</td>
		</tr>
		{hd foreach from=$topcate item=n}
			

		<tr>
			<td><a href="{hd $smarty.const.__APP__}?c=list&a=category&cid={hd $n.cid}" class="showPlus"></a></td>
			<td>{hd $n.cid}</td>
			<td>{hd $n.title}</td>
			<td>
				[<a href="{hd $smarty.const.__APP__}?c=list&a=category&cid={hd $n.cid}">添加子分类</a>][
				<a href="{hd $smarty.const.__APP__}?c=list&a=add_top_cate&cid={hd $n.cid}">修改</a>][
				<a href="" class="del">删除</a>]
			</td>
		</tr>
		{hd /foreach}

	</table>
	
	{hd /if}
{hd /if}
</body>
</html>